div.THREADCONTENTS {
  z-index: 1;
  width: 93%;
  margin: 0.5em auto 0.75em auto;
  padding: 0.75em;
  border: 1px solid #333;
  color: #333;
  border-radius: 0.75em / 0.75em;
  background: #efefef;
  font-size: 1em;
}

a {
  border-width: 0px;
}

a:link {
  background: transparent;
  color: #0000cc;
}

a:active {
  background: transparent;
  color: #0000cc;
}

a:visited {
  background: transparent;
  color: #0000cc;
}

h3 {
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
  font-size: 1em;
}

h3 span.common {
  padding: 0.5em;
  border-radius: 0.5em / 0.5em;
  background: #39f;
  color: #fff;
  font-size: 1em;
}

h3 span {
  padding: 0 0 0.5em 1em;
  color: #ff0000;
  font-size: 1.5em;
}

h3.thread_title {
  font-family: Saitamaar, "MS Gothic";
  margin: 0;
  padding: 0 2em 0 3em;
  text-indent: -4em;
}

div.board_header {
  margin: 0 1em 1em 1em;
  padding: 0.5em;
  color: #333;
  background: #efe;
  border-radius: 0.25em / 0.25em;
  font-size: 1em;
  height: 15em;
  overflow-y: scroll;
}

div.keyword {
  margin: 0;
  padding: 0;
  color: #333;
  background: inherit;
  font-size: 1em;
}

dt {
  margin: 0px 0.5em;
  padding: 0px;
  font-size: 1em;
}

dd {
  margin-bottom: 2em;
  font-size: 1em;
  font-weight: normal;
  white-space: pre-line;
}

span.keyword0 {
  padding: 0.5em;
  border-radius: 0.5em / 0.5em;
  background: #39f;
  color: #fff;
  font-size: 0.75em;
  line-height: 2.5em;
  word-break: keep-all;
}

span.keyword1 {
  padding: 0.5em;
  border-radius: 0.5em / 0.5em;
  background: #f63;
  color: #fff;
  font-size: 0.75em;
  line-height: 2.5em;
  word-break: keep-all;
}

textarea.iden {
  font-family: Saitamaar, "MS Gothic", Simsun;
  white-space: pre-line;
  width: 25%;
  height: 8%;
  margin-right: 15px;
}

textarea.txt {
  font-family: Saitamaar, "MS Gothic", Simsun;
  width: 80%;
  height: 60%;
  min-height: 200px;
  margin-right: 5px;
  white-space: pre-line;
}

textarea.thtitle{
  font-family: Saitamaar, "MS Gothic", Simsun;
  width: 80%;
  height: 20%;
  min-height: 30px;
  margin-right:5px;
  white-space: pre-line;
}